# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Get hands on experience with Python, GitHub, and Rstudio

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. SciPy
2. Pandas
3. SkiKit

Data Science Tools|
|--------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python
- 4 + 7
- 2*3

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Benron Manoah